body {
  width: 700px;
  margin: 0 auto;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: fuchsia; 
  background-color: #1d1d1d; 
  flex-wrap: wrap;
  font-size: 22px;
  /* text-align: justify;*/
  line-height: 2;
}

main {
  
  display: flex;  /*IDE KELL??*/
  flex-wrap: wrap;
  padding: 30px 0px 30px 0px;
  align-items: center;
  line-height: 2;  
     
}
   
header {
  width: 322px;
  height: 480px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  font-size:21px;
  letter-spacing: 3px;
  line-height: 1;
 /* color: #222; */
  padding: 0px 20px 60px 0px;
  background-color: #333333;
  
 }

 .grafikus {
      font-size: 24px;
      font-weight: 100;
      

 }
 

img {
  height: 500px;
  float: left;

  border: 20px solid #333333;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  font-size: 43.5px;
}
h2 {
 /* color: #fff; */
  background-color: #333333;
  padding: 0px 0px 0px 0px;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 26x;
  font-style: italic;
  font-weight: 100;
  line-height: 1.5;
  width: 750px;
  margin: 0;  
  flex: center;
  border: 40px solid #333333;
  
}

/*h2::after {
  content: '”';
  text-size: 50;
  font-size: 70px;
}*/

h2::before {
  content: '“';
  font-size: 80px;
  line-height: 0;
  }

  h3 {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5;
   /* text-transform: uppercase;*/
    text-align: right;
    letter-spacing: 1px;
    line-height: 4;
  
  }

h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}


h5 {
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin: 0;
}

h6 {
  font-style: italic;
  letter-spacing: 1px;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  font-size: 15px;
}



section {
  border-top: 3px solid;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.8px;
 /* color: #222; */
  width: 700px;
  margin: 0;
}

.bevezeto {


}


ul {
  list-style-type: square;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-justify: inter-cluster;
}

.btn-group button {
  background-color: #1d1d1d;
  border: none;
  color: fuchsia; 
  padding: 30px 0px;
  margin: 0;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 300;
  font-size:12px;
  letter-spacing: 1px;
  line-height: 0;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #333333;
}

  .flex-container {
    display: flex;
  }

  #email {
    /* border: 1px solid fuchsia;
    background-color: rgb(255, 255, 255); */
    color: lightskyblue;
    
  } 

  dl { width: 700px 
  font-family:'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.8px;
  }
  dt { float: left; width: 500px; overflow: hidden; white-space: nowrap; }
  dd { float: left; width: 200px; overflow: visible; margin: 0px; text-align: end;}

  dt:after { content: " ......................................................................................................................................................................................................................." }

  .nini {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .nini img {
    display: block;
    max-width: 660px ;
    width: auto;
    height: auto;
  }

  a:hover {
    color: indianred;
    border: 1px solid fuchsia;
  }
  a:visited {
    color: indigo;
  }