body {
  width: 700px;
  margin: 0 auto;
  text-align: left;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  color: fuchsia; 
  background-color: #1d1d1d; 
  flex-wrap: wrap;
}

main {
  
  display: flex;  /*IDE KELL??*/
  flex-wrap: wrap;
  padding: 30px 0px 30px 0px;
  align-items: center;
  line-height: 2;  
     
}
   
header {
  width: 400px;
  height: 480px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size:21px;
  letter-spacing: 3px;
  line-height: 1;
 /* color: #222; */
  padding: 0px 20px 60px 0px;
  background-color: #333333;
  
 }

img {
  height: 500px;
  float: left;

  border: 20px solid #333333;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
}
h2 {
 /* color: #fff; */
  background-color: #333333;
  padding: 0px 0px 0px 0px;
  font-family: 'Abril Fatface', cursive;
  font-weight: 20;
  font-size: 45px;
  letter-spacing: 3px;
  width: 750px;
  margin: 0;  
  flex: center;
  border: 40px solid #333333;
  line-height: 1.5;
}

/*h2::after {
  content: '”';
  text-size: 50;
  font-size: 70px;
}*/

h2::before {
  content: '“';
  font-size: 80px;
  line-height: 0;
  }

  h3 {
    font-family: 'Sacramento', cursive;
    font-size: 37px;
    font-weight: 100;
    line-height: 1.5;
   /* text-transform: uppercase;*/
    text-align: center;
    letter-spacing: 1px;
    line-height: 2.5;
  }

h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}


h5 {
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  margin: 0;
}

h6 {
  font-style: italic;
  letter-spacing: 1px;
  font-family: 'Merriweather', serif;
  margin: 0;
  font-size: 15px;
}



section {
  border-top: 3px solid;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
 /* color: #222; */
  width: 700px;
  margin: 0;
}

.bevezeto {
    font-size: 22px;
  /* text-align: justify;*/
  line-height: 2;

}


ul {
  list-style-type: square;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.btn-group button {
  background-color: #1d1d1d;
  border: none;
  color: fuchsia; 
  padding: 10px 24px;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #333333;
}

  .flex-container {
    display: flex;
  }